@import "../bower_components/uikit/less/uikit.less";
@import "../bower_components/uikit/less/components/dotnav.less";
@import "../bower_components/uikit/less/components/slidenav.less";
@import "../bower_components/uikit/less/components/slideshow.less";

@import "../bower_components/flexboxgrid-less/flexboxgrid.less";
@half-gutter-width:		  2rem;
@gutter-compensation:	 -2rem;
@outer-margin:					2rem;

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300);
@font-face {
	font-family: 'LemonMilk';
	src: url('LemonMilk.otf');
}

@sm: 768px;
@md: 992px;
@lg: 1200px;
@title-font: 'LemonMilk', sans-serif;
@body-font: 'Josefin Sans', sans-serif;
@color-white: white;
@color-red: #B00600;
@color-red-sec: #999999;

.transition(@style) {
	-webkit-transition: @style;
	-moz-transition:    @style;
	-o-transition:      @style;
	transition:         @style;
}
.background-red {
	background: none;
	color: @color-white;

	hr {
		border: 1px solid @color-white;
	}
}
.background-white {
	background: @color-white;
	color: @color-red;

	hr {
		border: 1px solid @color-red;
	}
}
.button {
	border: 0.25rem solid;
	background: none;
	font-family: @title-font;
	font-size: 2rem;
	padding: 2rem;
	opacity: 0.5;
	.transition(opacity 0.2s);

	&:hover {
		opacity: 1;
	}

	&:active {
		opacity: 0.25;
	}
}
.button-red {
	.button;
	color: @color-red;
	border-color: @color-red;
}
.button-white {
	.button;
	color: @color-white;
	border-color: @color-white;
}

.list-clear {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		padding: 0;
		margin: 0;
	}
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  -o-border-radius:      @radius;
  border-radius:         @radius;
}

.circle {
	.border-radius(50%);
}

html, body {
	height: 100%;
	margin: 0;
}

html {
	font-size: 12px;
}

.media(@s-break, html, {
	font-size: 16px;
});

body {
	background-image: url('pattern.png');
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: @body-font;
	font-size: 1.5rem;
	color: @color-white;

	.grid;
}

p {
	line-height: 1.5em;
}

a, a:hover, a:active, a:visited {
	text-decoration: inherit;
	color: inherit;
}

#about {
	.background-red;
	.row; .middle-xs; .center-xs;
	height: 50vh;

	h1 {
		font-family: @title-font;
		font-size: 6rem;
		text-align: center;
	}
}

#detail-and-action {
	.background-white;
	.row; .middle-xs; .center-xs;
	min-height: 50vh;

	#detail {
		.col-xs-12; .col-md-6;
		.row; .middle-xs; .center-xs;

		h1 {
			font-family: @title-font;
			font-size: 4rem;
			text-align: center;
		}
	}
	#action {
		.col-xs-12; .col-md-6;
		.row; .middle-xs; .center-xs;

		button {
			.button-red;
			width: @s-break/2;
			margin: 1rem;
		}

		#sharing {
			.row; .middle-xs; .between-xs;
			width: @s-break/2;
			margin: 1rem;
		}

		h1 {
			color: @color-red;
			font-size: 2rem;
			margin: 0;
		}

		.addthis_sharing_toolbox {
		}
	}
}

.information {
	.background-red;
	.row; .middle-xs; .center-xs;

	padding-top: 2rem;
	padding-bottom: 2rem;

	article {
		.col-xs-12;
	}

	h1 {
		font-size: 2em;
		margin-top: 1em;
	}
}

.media(@s-break, ~".information", {
	padding-left: 2rem;
	padding-right: 2rem;
});

#why {
	.start-md;
	article {
		.col-md-6;
	}
}

#what {
	.background-white;
	.end-md;
	article {
		.col-md-6;
	}
}

#division {
	.start-md;
	article {
		ol {
			.row; .top-xs; .center-xs; .between-md;

			li {
				.col-xs-12; .col-md;

				h2 {
					font-family: @title-font;
				}
			}
		}
	}
}

#learn {
	.background-white;

	article {
		max-width: @m-break;
		ol {
			.row; .top-xs; .center-xs;
			li {
				.col-xs-12;
				.row; .top-xs; .center-xs; .start-md;
				margin-top: 2rem;
				margin-bottom: 2rem;

				img {
					.col-xs;
					flex: initial;
				}

				div {
					.col-xs-12; .col-md;
					.media(@m-break; h2; {
						margin-top: 0;
					});
				}
			}
		}
	}
}

#tlx {
	.background-red;
	.row; .middle-xs; .center-xs;

	height: 100vh;

	#carousel {
		width: 100%;
		height: 100%;

		.uk-slideshow {
			width: 100%;
			height: 100%;

			.uk-overlay-panel {
				.row; .middle-xs; .center-xs;

				p {
					font-weight: bold;
				}

				> div {
					.col-xs-12; .col-md-6;
				}
			}

			.uk-overlay-background {
				background: @color-red;
			}
		}
	}
}

#organizer {
	.background-white;

	ol {
		.row; .middle-xs; .center-xs; .between-md;
		li {
			.col-xs-12; .col-md;
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}

	figure {
		margin: 0;
		padding: 0;

		img {
			width: @s-break/3;
			.transition(opacity 0.2s);
		}

		figcaption {
			opacity: 0;
			.transition(opacity 0.2s);
		}

		&:hover {
			img {
				opacity: 0.75;
			}
			figcaption {
				opacity: 0.75;
			}
		}

		&:active {
			img {
				opacity: 0.5;
			}
			figcaption {
				opacity: 0.5;
			}
		}
	}
}

#copyright {
	.background-red;
	.row; .center-xs; .middle-xs;
	padding: 1rem;
}

#scoreboard {
	header {
		display: flex;
		justify-content: center;
		padding: 3em 0;
	}
	text-align: center;

	span.selector {
		display: inline-block;
		position: relative;

		> span {
			color: @color-white;
			border-bottom: 4px dashed fadeout(@color-white, 50%);

			.transition(color 0.2s, border 0.2s;);

			&:hover {
				color: fadeout(@color-white, 50%);
				border-bottom-color: @color-white;
			}

			&:active {
				color: fadeout(@color-white, 50%);
				border-bottom-color: fadeout(@color-white, 50%);
			}
		}

		ul {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			text-align: left;
			padding: 0;
			margin: 0;
			list-style-type: none;
			width: 10em;
			font-size: 0.5em;

			.transition(visibility 0.2s, opacity 0.2s;);
		}

		li {
			margin-top: 0.5em;
			opacity: 0.5;

			.transition(opacity 0.2s);

			&:hover {
				opacity: 1;
			}

			&.selected {
				display: none;
			}
		}

		&.opened {
			ul {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

#rank {
	display: inline-block;
	padding: 1em;
	margin: auto;
	background-color: @color-white;
	color: @color-red;

	table {
		border-collapse: collapse;
	}

	thead, tbody {
	}

	tr {
		border-bottom: 1px solid @color-red;
	}

	td {
		padding: 0.5em;
	}

	.no {
		text-align: right;
	}

	.name {
		text-align: left;
		div {
			display: inline-block;
			vertical-align: middle;
		}

		div.img {
			height: 2em;
			width: 2em;
			margin-right: 1em;

			background-size: cover;
			.circle;
		}
	}

	.score {
		text-align: center;
		&.fac {
			background-color: rgb(148, 223, 171);
		}

		&.ac {
			background-color: rgb(179, 255, 202);
		}

		&.wa {
			background-color: rgb(238, 167, 141);
		}
	}
}
