@import "../bower_components/uikit/less/uikit.less";
@import "../bower_components/uikit/less/components/dotnav.less";
@import "../bower_components/uikit/less/components/slidenav.less";
@import "../bower_components/uikit/less/components/slideshow.less";

@import "../bower_components/flexboxgrid-less/flexboxgrid.less";
@half-gutter-width:		  2rem;
@gutter-compensation:	 -2rem;
@outer-margin:					2rem;

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300);
@font-face {
	font-family: 'LemonMilk';
	src: url('LemonMilk.otf');
}

@sm: 768px;
@md: 992px;
@lg: 1200px;
@title-font: 'LemonMilk', sans-serif;
@body-font: 'Josefin Sans', sans-serif;
@color-white: white;
@color-red: #B00600;
@color-red-sec: #999999;

.transition(@style) {
	-webkit-transition: @style;
	-moz-transition:    @style;
	-o-transition:      @style;
	transition:         @style;
}
.background-red {
	background: none;
	color: @color-white;

	hr {
		border: 1px solid @color-white;
	}
}
.background-white {
	background: @color-white;
	color: @color-red;

	hr {
		border: 1px solid @color-red;
	}
}
.button {
	border: 0.25rem solid;
	background: none;
	font-family: @title-font;
	font-size: 2rem;
	padding: 2rem;
	opacity: 0.5;
	.transition(opacity 0.2s);

	&:hover {
		opacity: 1;
	}

	&:active {
		opacity: 0.25;
	}
}
.button-red {
	.button;
	color: @color-red;
	border-color: @color-red;
}
.button-white {
	.button;
	color: @color-white;
	border-color: @color-white;
}

.list-clear {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		padding: 0;
		margin: 0;
	}
}

html, body {
	height: 100%;
	margin: 0;
}

html {
	font-size: 12px;
}

.media(@s-break, html, {
	font-size: 16px;
});

body {
	background-image: url('pattern.png');
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: @body-font;
	font-size: 1.5rem;
	color: @color-white;

	.grid;
}

p {
	line-height: 1.5em;
}

a, a:hover, a:active, a:visited {
	text-decoration: inherit;
	color: inherit;
}

#about {
	.background-red;
	.row; .middle-xs; .center-xs;
	height: 50vh;

	h1 {
		font-family: @title-font;
		font-size: 6rem;
		text-align: center;
	}
}

#detail-and-action {
	.background-white;
	.row; .middle-xs; .center-xs;
	min-height: 50vh;

	#detail {
		.col-xs-12; .col-md-6;
		.row; .middle-xs; .center-xs;

		h1 {
			font-family: @title-font;
			font-size: 4rem;
			text-align: center;
		}
	}
	#action {
		.col-xs-12; .col-md-6;
		.row; .middle-xs; .center-xs;

		button {
			.button-red;
			width: @s-break/2;
			margin: 1rem;
		}

		#sharing {
			.row; .middle-xs; .between-xs;
			width: @s-break/2;
			margin: 1rem;
		}

		h1 {
			color: @color-red;
			font-size: 2rem;
			margin: 0;
		}

		.addthis_sharing_toolbox {
		}
	}
}

.information {
	.background-red;
	.row; .middle-xs; .center-xs;

	padding-top: 2rem;
	padding-bottom: 2rem;

	article {
		.col-xs-12;
	}

	h1 {
		font-size: 2em;
		margin-top: 1em;
	}
}

.media(@s-break, ~".information", {
	padding-left: 2rem;
	padding-right: 2rem;
});

#why {
	.start-md;
	article {
		.col-md-6;
	}
}

#what {
	.background-white;
	.end-md;
	article {
		.col-md-6;
	}
}

#division {
	.start-md;
	article {
		ol {
			.row; .top-xs; .center-xs; .between-md;

			li {
				.col-xs-12; .col-md;

				h2 {
					font-family: @title-font;
				}
			}
		}
	}
}

#learn {
	.background-white;

	article {
		max-width: @m-break;
		ol {
			.row; .top-xs; .center-xs;
			li {
				.col-xs-12;
				.row; .top-xs; .center-xs; .start-md;
				margin-top: 2rem;
				margin-bottom: 2rem;

				img {
					.col-xs;
					flex: initial;
				}

				div {
					.col-xs-12; .col-md;
					.media(@m-break; h2; {
						margin-top: 0;
					});
				}
			}
		}
	}
}

#tlx {
	.background-red;
	.row; .middle-xs; .center-xs;

	height: 100vh;

	#carousel {
		width: 100%;
		height: 100%;

		.uk-slideshow {
			width: 100%;
			height: 100%;

			.uk-overlay-panel {
				.row; .middle-xs; .center-xs;

				p {
					font-weight: bold;
				}

				> div {
					.col-xs-12; .col-md-6;
				}
			}

			.uk-overlay-background {
				background: @color-red;
			}
		}
	}
}

#organizer {
	.background-white;

	ol {
		.row; .middle-xs; .center-xs; .between-md;
		li {
			.col-xs-12; .col-md;
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}

	figure {
		margin: 0;
		padding: 0;

		img {
			width: @s-break/3;
			.transition(opacity 0.2s);
		}

		figcaption {
			opacity: 0;
			.transition(opacity 0.2s);
		}

		&:hover {
			img {
				opacity: 0.75;
			}
			figcaption {
				opacity: 0.75;
			}
		}

		&:active {
			img {
				opacity: 0.5;
			}
			figcaption {
				opacity: 0.5;
			}
		}
	}
}

#copyright {
	.background-red;
	.row; .center-xs; .middle-xs;
	padding: 1rem;
}

.footer {
	color: white;
	margin-top: 1em;
	padding: 0.4em 0;
	font-size: 0.7em;
}
.social-media {
	padding: 1em;
}
.fb-like {
	display: block !important;
	width: 60px;
	margin: 0 auto;
}
.twitter-follow-button {
	display: block !important;
	margin: 0 auto;
	margin-top: 6.4px;
	width: 60px;
}
.middle {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
@media (max-width: 400px) {
	.middle {
	  transform: translateY(20%);
	}
}

.facts .background {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-position: center;
	background-size: cover;

	-webkit-filter: saturate(25%) brightness(50%) blur(5px);
	-moz-filter: saturate(25%) brightness(50%) blur(5px);
	-o-filter: saturate(25%) brightness(50%) blur(5px);
	-ms-filter: saturate(25%) brightness(50%) blur(5px);
	filter: saturate(25%) brightness(50%) blur(5px);

	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);

	/*-webkit-transition:
		-webkit-filter .5s, -moz-filter .5s, -o-filter .5s, -ms-filter .5s, filter 5s,
		-webkit-transform .5s, -moz-transform .5s, -o-transform .5s, -ms-transform .5s, transform .5s;
	-moz-transition:
		-webkit-filter .5s, -moz-filter .5s, -o-filter .5s, -ms-filter .5s, filter 5s,
		-webkit-transform .5s, -moz-transform .5s, -o-transform .5s, -ms-transform .5s, transform .5s;
	-o-transition:
		-webkit-filter .5s, -moz-filter .5s, -o-filter .5s, -ms-filter .5s, filter 5s,
		-webkit-transform .5s, -moz-transform .5s, -o-transform .5s, -ms-transform .5s, transform .5s;
	-ms-transition:
		-webkit-filter .5s, -moz-filter .5s, -o-filter .5s, -ms-filter .5s, filter 5s,
		-webkit-transform .5s, -moz-transform .5s, -o-transform .5s, -ms-transform .5s, transform .5s;
	transition:
		-webkit-filter .5s, -moz-filter .5s, -o-filter .5s, -ms-filter .5s, filter 5s,
		-webkit-transform .5s, -moz-transform .5s, -o-transform .5s, -ms-transform .5s, transform .5s;*/
}

/*.facts:active .background {
	-webkit-filter: unset;
	-moz-filter: unset;
	-o-filter: unset;
	-ms-filter: unset;
	filter: unset;

	-webkit-transform: unset;
	-moz-transform: unset;
	-o-transform: unset;
	-ms-transform: unset;
	transform: unset;
}*/

/*.facts .container {
	opacity: 100%;

	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}

.facts:active .container {
	opacity: 0;
}*/

#text-success, #text-fail {
	text-shadow: 0 2px 3px rgba(0,0,0,.9);
}
table.scoreboard td {
  line-height: 40px !important;
}

.scoreboard-rank {
  width: 30px;
  text-align: center;
}

.scoreboard-logo {
  width: 40px;
  text-align: center;
}

.scoreboard-logo-image {
  width: 40px;
  height: 40px;
  text-align: center;
}

.scoreboard-score {
  width: 60px;
  text-align: center;
}

.scoreboard-icpc-accepted {
  background-color: #33FF66 !important;
}
.color-white {
	color: white;
}

.scoreboard-icpc-not-accepted {
  background-color: #FF6666 !important;
}

.scoreboard-icpc-accepted-details {

}

.scoreboard-icpc-accepted-attempts {
  float: left;
  width: 70px;
  line-height: 25px !important;
  font-weight: bold;
}


.scoreboard-icpc-accepted-penalty {
  float: left;
  width: 70px;
  line-height: 15px !important;
  padding: 0;
  font-size: smaller;
}
