html, body {
	height: 100%;
	margin: 0;
}
body {
	background-image: url('pattern.png');
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
.background-white {
	background: white;
}
.title {
	font-weight: bold;
}
.text-shadow {
	text-shadow: 2px 2px #000000;
}
.about {
	color: white;
	padding: 3em 0;
}
.about h1 {
	font-size: 3em;
}
.about p {
	margin-top: 3em;
}
.section {
	margin-bottom: 3em;
}
.why {
	color: white;
}
.why ol li {
	margin-top: 1em;
}
.subscribe {
	padding: 3em 0;
	padding-bottom: 4em;
}
.subscribe .email-wrap {
	padding: 0;
}
.subscribe .button-wrap {
	padding: 0;
}
.subscribe input {
	border-radius: 0;
	height: 4em;
}
.subscribe button {
	width: 100%;
	border-radius: 0;
	height: 4em;
	font-weight: bold;
}
.event, .event a {
	padding-top: 1em;
	color: white;
}
.learn {
	color: white;
	padding-top: 2em;
	padding-bottom: 5em;
}
.facts {
	color: white;
	height: 700px;
	background-size: cover;
}
#facts-APIO {
	background-image: url('../images/indo.jpg');
}
#facts-OSN {
	background-image: url('../images/osn.jpg');
}
#facts-TG {
	background-image: url('../images/training-gate.jpg');
}
.organizer .organizer-unit {
	margin-top: 2em;
}
.organizer .logo-wrapper {
	height: 100px;
	width: 150px;
	margin: 0 auto;
	white-space: nowrap;
}
.organizer .helper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
}
.organizer img {
	margin: 0 auto;
	max-height: 100px;
	max-width: 150px;
	vertical-align: middle;
	display: inline-block;;
}
.footer {
	color: white;
	margin-top: 1em;
	padding: 0.4em 0;
	font-size: 0.7em;
}
.social-media {
	padding: 1em;
}
.fb-like {
	display: block !important;
	width: 60px;
	margin: 0 auto;
}
.twitter-follow-button {
	display: block !important;
	margin: 0 auto;
	margin-top: 6.4px;
	width: 60px;
}
.middle {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
@media (max-width: 400px) {
	.middle {
	  transform: translateY(20%);
	}
}

#text-success, #text-fail {
	text-shadow: 0 2px 3px rgba(0,0,0,.9);
}
